<div class="container">
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <div class="card text-blank border-0">
                <div class="card-body">
                    <div class="card-title text-center">
                        <h5>Sign Up for Free</h5>
                    </div>
                    <div class="card-text">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                            <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" placeholder="First Name"
                                formControlName="firstName">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="text" class="form-control" placeholder="Last Name" 
                                formControlName="lastName">
                            </div>
                            </div>
                            <div class="alert alert-danger" *ngIf="(!myForm.controls['firstName'].valid 
                            || !myForm.controls['lastName'].valid) 
                            && (myForm.controls['firstName'].touched 
                            || myForm.controls['lastName'].touched)">
                                First and last name is required.
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter your email" formControlName="email">
                                <small class="form-text text-muted">
                                 we would not share your email address.
                                </small>
                            </div>
                            <div class="alert alert-danger" *ngIf="myForm.controls['email'].touched && !myForm.controls['email'].valid">
                                A valid email required.
                            </div>
                            <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="password" class="form-control" placeholder="Enter Password" formControlName="password">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                            </div>
                        </div>
                        <div class="alert alert-danger" *ngIf="myForm.controls['password'].touched && !myForm.controls['password'].valid">
                            Password should be atleast 8 character long.
                        </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-block btn-success" [disabled]="!myForm.invalid">Submit</button> 
                            </div>

                        </form>
                        {{myForm.controls['confirmPassword'].errors | json
                    }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
